*{
  font-family: 'Roboto Slab', serif;
}

body{
  background: -moz-linear-gradient(312deg, rgba(255,166,55,1) 0%, rgba(255,166,55,1) 23%, rgba(255,76,105,1) 78%, rgba(255,76,105,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,166,55,1)), color-stop(23%, rgba(255,166,55,1)), color-stop(78%, rgba(255,76,105,1)), color-stop(100%, rgba(255,76,105,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(312deg, rgba(255,166,55,1) 0%, rgba(255,166,55,1) 23%, rgba(255,76,105,1) 78%, rgba(255,76,105,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(312deg, rgba(255,166,55,1) 0%, rgba(255,166,55,1) 23%, rgba(255,76,105,1) 78%, rgba(255,76,105,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(312deg, rgba(255,166,55,1) 0%, rgba(255,166,55,1) 23%, rgba(255,76,105,1) 78%, rgba(255,76,105,1) 100%); /* ie10+ */
  background: linear-gradient(138deg, rgba(255,166,55,1) 0%, rgba(255,166,55,1) 23%, rgba(255,76,105,1) 78%, rgba(255,76,105,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA637', endColorstr='#FF4C69',GradientType=0 ); /* ie6-9 */
}
nav{
  text-align: right;
  margin-bottom: 25px;
}
nav .navigation{
  margin-right: 50px;
}
nav .option{
  margin-top: 15px;
  display: inline-block;
  color:white;
  margin-left: 7px;
  margin-right: 7px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  text-decoration: underline;
}
.info{
  background-color: #fcf9f9;
  min-width: 100%;
  height: 100px;
  border-radius: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.content{
  background-color: #fcf9f9;
  min-width: 100%;
  height: 1000px;
  border-radius: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.content h3{
  color: #ED5440;
  margin-left: 15px;
}
